[Desktop Entry]
Type=Application
Name=TyrianOS First Time Setup
Comment=Run first-time setup in Konsole
Exec=konsole -e tyrianos-firstsetup
Terminal=false
Icon=utilities-terminal
Categories=System;
X-GNOME-Autostart-enabled=true
